<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="fixit-core-security" value="https://pkgs.dev.azure.com/FixIt-App/FixIt-Capstone/_packaging/fixit-core-security/nuget/v3/index.json" />
		<add key="fix-core-database" value="https://pkgs.dev.azure.com/FixIt-App/FixIt-Capstone/_packaging/fix-core-database/nuget/v3/index.json" />
		<add key="fixit-core-datacontracts" value="https://pkgs.dev.azure.com/FixIt-App/FixIt-Capstone/_packaging/fixit-core-datacontracts/nuget/v3/index.json" />
		<add key="master-database-management" value="https://pkgs.dev.azure.com/FixIt-App/FixIt-Capstone/_packaging/master-database-management/nuget/v3/index.json" />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>